{
    "openapi": "3.0.0",
    "info": {
        "title": "api srcert.ru",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.srcert.ru/index.php/",
            "description": "Api server"
        }
    ],
    "paths": {
        "/agreement": {
            "get": {
                "tags": [
                    "Agreement"
                ],
                "summary": "list agreements",
                "description": "find agreement",
                "operationId": "app\\controllers\\AgreementController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Agreement"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/agreement/create": {
            "post": {
                "tags": [
                    "Agreement"
                ],
                "summary": "create  agreement ",
                "description": "create new agreement",
                "operationId": "app\\controllers\\AgreementController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agreement"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agreement"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/agreement/delete": {
            "delete": {
                "tags": [
                    "Agreement"
                ],
                "summary": "Delete agreement",
                "description": "delete  agreement",
                "operationId": "app\\controllers\\AgreementController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Agreement id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/agreement/restore": {
            "get": {
                "tags": [
                    "Agreement"
                ],
                "summary": "Restore agreement",
                "description": "restore  agreement",
                "operationId": "app\\controllers\\AgreementController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Agreement id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/agreement/update": {
            "post": {
                "tags": [
                    "Agreement"
                ],
                "summary": "update  agreement ",
                "description": "update agreement",
                "operationId": "app\\controllers\\AgreementController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agreement"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agreement"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/application": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "list applications",
                "description": "find application",
                "operationId": "app\\controllers\\ApplicationController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Application"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/application/create": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "create  application ",
                "description": "create new application",
                "operationId": "app\\controllers\\ApplicationController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Application"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Application"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/application/delete": {
            "delete": {
                "tags": [
                    "Application"
                ],
                "summary": "Delete application",
                "description": "delete  application",
                "operationId": "app\\controllers\\ApplicationController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Application id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/application/restore": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Restore application",
                "description": "restore  application",
                "operationId": "app\\controllers\\ApplicationController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Application id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/application/update": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "update  application ",
                "description": "update application",
                "operationId": "app\\controllers\\ApplicationController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Application"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Application"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/articles": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "list articless",
                "operationId": "app\\controllers\\ArticleController::actionIndex",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Articles"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/articles/create": {
            "post": {
                "tags": [
                    "Articles"
                ],
                "summary": "create new  articles ",
                "operationId": "app\\controllers\\ArticleController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Articles"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Articles"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/articles/delete": {
            "delete": {
                "tags": [
                    "Articles"
                ],
                "summary": "Deletes a articles",
                "operationId": "app\\controllers\\ArticleController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Articles id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/articles/update": {
            "post": {
                "tags": [
                    "Articles"
                ],
                "summary": "update new  articles ",
                "operationId": "app\\controllers\\ArticleController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Articles"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Articles"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/auth": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "login",
                "operationId": "app\\controllers\\AuthController::actionIndex",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login",
                                    "password"
                                ],
                                "properties": {
                                    "login": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/check": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "check auth",
                "operationId": "app\\controllers\\AuthController::actionCheck",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "cookieAuth": []
                    }
                ]
            }
        },
        "/auth/activate": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "activate",
                "operationId": "app\\controllers\\AuthController::actionActivate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key",
                                    "confirm",
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string"
                                    },
                                    "confirm": {
                                        "type": "string"
                                    },
                                    "key": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/changepassword": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "change password",
                "operationId": "app\\controllers\\AuthController::actionChangepassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "confirm",
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string"
                                    },
                                    "confirm": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/registry": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "registry user",
                "operationId": "app\\controllers\\AuthController::actionRegistry",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/requestpassword": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "request to recover password",
                "operationId": "app\\controllers\\AuthController::actionRequestpassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/dictionary": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "return all dictionary of project",
                "operationId": "app\\controllers\\AuthController::actionDictionary",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/swagger": {
            "get": {
                "tags": [
                    "Swagger"
                ],
                "summary": "get swagger data",
                "operationId": "app\\controllers\\AuthController::actionSwagger",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/calls": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "list callss",
                "description": "find calls",
                "operationId": "app\\controllers\\CallsController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Calls"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/calls/create": {
            "post": {
                "tags": [
                    "Calls"
                ],
                "summary": "create  calls ",
                "description": "create new calls",
                "operationId": "app\\controllers\\CallsController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Calls"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calls"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/calls/delete": {
            "delete": {
                "tags": [
                    "Calls"
                ],
                "summary": "Delete calls",
                "description": "delete  calls",
                "operationId": "app\\controllers\\CallsController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Calls id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/calls/restore": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Restore calls",
                "description": "restore  calls",
                "operationId": "app\\controllers\\CallsController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Calls id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/calls/update": {
            "post": {
                "tags": [
                    "Calls"
                ],
                "summary": "update  calls ",
                "description": "update calls",
                "operationId": "app\\controllers\\CallsController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Calls"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calls"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "list citys",
                "description": "find city",
                "operationId": "app\\controllers\\CityController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/City"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city/getall": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Get city",
                "description": "Get  city",
                "operationId": "app\\controllers\\CityController::actionGetall",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city/create": {
            "post": {
                "tags": [
                    "City"
                ],
                "summary": "create  city ",
                "description": "create new city",
                "operationId": "app\\controllers\\CityController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/City"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/City"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city/delete": {
            "delete": {
                "tags": [
                    "City"
                ],
                "summary": "Delete city",
                "description": "delete  city",
                "operationId": "app\\controllers\\CityController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "City id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city/restore": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Restore city",
                "description": "restore  city",
                "operationId": "app\\controllers\\CityController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "City id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/city/update": {
            "post": {
                "tags": [
                    "City"
                ],
                "summary": "update  city ",
                "description": "update city",
                "operationId": "app\\controllers\\CityController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/City"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/City"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/clients": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "list clientss",
                "description": "find clients",
                "operationId": "app\\controllers\\ClientsController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Clients"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/clients/create": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "create  clients ",
                "description": "create new clients",
                "operationId": "app\\controllers\\ClientsController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Clients"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Clients"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/clients/delete": {
            "delete": {
                "tags": [
                    "Clients"
                ],
                "summary": "Delete clients",
                "description": "delete  clients",
                "operationId": "app\\controllers\\ClientsController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Clients id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/clients/restore": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Restore clients",
                "description": "restore  clients",
                "operationId": "app\\controllers\\ClientsController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Clients id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/clients/update": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "update  clients ",
                "description": "update clients",
                "operationId": "app\\controllers\\ClientsController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Clients"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Clients"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "list commentss",
                "description": "find comments",
                "operationId": "app\\controllers\\CommentsController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Comments"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/comments/create": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "create  comments ",
                "description": "create new comments",
                "operationId": "app\\controllers\\CommentsController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comments"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comments"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/comments/delete": {
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete comments",
                "description": "delete  comments",
                "operationId": "app\\controllers\\CommentsController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Comments id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/comments/restore": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Restore comments",
                "description": "restore  comments",
                "operationId": "app\\controllers\\CommentsController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Comments id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/comments/update": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "update  comments ",
                "description": "update comments",
                "operationId": "app\\controllers\\CommentsController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comments"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comments"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacts": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "list contactss",
                "description": "find contacts",
                "operationId": "app\\controllers\\ContactsController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Contacts"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacts/create": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "create  contacts ",
                "description": "create new contacts",
                "operationId": "app\\controllers\\ContactsController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Contacts"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contacts"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacts/delete": {
            "delete": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Delete contacts",
                "description": "delete  contacts",
                "operationId": "app\\controllers\\ContactsController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Contacts id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacts/restore": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Restore contacts",
                "description": "restore  contacts",
                "operationId": "app\\controllers\\ContactsController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Contacts id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacts/update": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "update  contacts ",
                "description": "update contacts",
                "operationId": "app\\controllers\\ContactsController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Contacts"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contacts"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacttype": {
            "get": {
                "tags": [
                    "Contacttype"
                ],
                "summary": "list contacttypes",
                "description": "find contacttype",
                "operationId": "app\\controllers\\ContacttypeController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Contacttype"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacttype/create": {
            "post": {
                "tags": [
                    "Contacttype"
                ],
                "summary": "create  contacttype ",
                "description": "create new contacttype",
                "operationId": "app\\controllers\\ContacttypeController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Contacttype"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contacttype"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacttype/delete": {
            "delete": {
                "tags": [
                    "Contacttype"
                ],
                "summary": "Delete contacttype",
                "description": "delete  contacttype",
                "operationId": "app\\controllers\\ContacttypeController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Contacttype id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacttype/restore": {
            "get": {
                "tags": [
                    "Contacttype"
                ],
                "summary": "Restore contacttype",
                "description": "restore  contacttype",
                "operationId": "app\\controllers\\ContacttypeController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Contacttype id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/contacttype/update": {
            "post": {
                "tags": [
                    "Contacttype"
                ],
                "summary": "update  contacttype ",
                "description": "update contacttype",
                "operationId": "app\\controllers\\ContacttypeController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Contacttype"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contacttype"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/declinematter": {
            "get": {
                "tags": [
                    "Declinematter"
                ],
                "summary": "list declinematters",
                "description": "find declinematter",
                "operationId": "app\\controllers\\DeclinematterController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Declinematter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/declinematter/create": {
            "post": {
                "tags": [
                    "Declinematter"
                ],
                "summary": "create  declinematter ",
                "description": "create new declinematter",
                "operationId": "app\\controllers\\DeclinematterController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Declinematter"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Declinematter"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/declinematter/delete": {
            "delete": {
                "tags": [
                    "Declinematter"
                ],
                "summary": "Delete declinematter",
                "description": "delete  declinematter",
                "operationId": "app\\controllers\\DeclinematterController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Declinematter id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/declinematter/restore": {
            "get": {
                "tags": [
                    "Declinematter"
                ],
                "summary": "Restore declinematter",
                "description": "restore  declinematter",
                "operationId": "app\\controllers\\DeclinematterController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Declinematter id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/declinematter/update": {
            "post": {
                "tags": [
                    "Declinematter"
                ],
                "summary": "update  declinematter ",
                "description": "update declinematter",
                "operationId": "app\\controllers\\DeclinematterController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Declinematter"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Declinematter"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/document": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "list documents",
                "description": "find document",
                "operationId": "app\\controllers\\DocumentController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Document"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/document/create": {
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "create  document ",
                "description": "create new document",
                "operationId": "app\\controllers\\DocumentController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Document"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Document"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/document/delete": {
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Delete document",
                "description": "delete  document",
                "operationId": "app\\controllers\\DocumentController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Document id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/document/restore": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Restore document",
                "description": "restore  document",
                "operationId": "app\\controllers\\DocumentController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Document id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/document/update": {
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "update  document ",
                "description": "update document",
                "operationId": "app\\controllers\\DocumentController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Document"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Document"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/files": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "list filess",
                "description": "find files",
                "operationId": "app\\controllers\\FilesController::actionIndex",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Files"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/files/create": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "create  files ",
                "description": "create new files",
                "operationId": "app\\controllers\\FilesController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Files"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/files/delete": {
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Delete files",
                "description": "delete  files",
                "operationId": "app\\controllers\\FilesController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Files id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/files/restore": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Restore files",
                "description": "restore  files",
                "operationId": "app\\controllers\\FilesController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Files id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/files/update": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "update  files ",
                "description": "update files",
                "operationId": "app\\controllers\\FilesController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Files"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Files"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/item": {
            "get": {
                "tags": [
                    "Item"
                ],
                "summary": "list items",
                "description": "find item",
                "operationId": "app\\controllers\\ItemController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Item"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/item/create": {
            "post": {
                "tags": [
                    "Item"
                ],
                "summary": "create  item ",
                "description": "create new item",
                "operationId": "app\\controllers\\ItemController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Item"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/item/delete": {
            "delete": {
                "tags": [
                    "Item"
                ],
                "summary": "Delete item",
                "description": "delete  item",
                "operationId": "app\\controllers\\ItemController::actionDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Item id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/item/restore": {
            "get": {
                "tags": [
                    "Item"
                ],
                "summary": "Restore item",
                "description": "restore  item",
                "operationId": "app\\controllers\\ItemController::actionRestore",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Item id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/item/update": {
            "post": {
                "tags": [
                    "Item"
                ],
                "summary": "update  item ",
                "description": "update item",
                "operationId": "app\\controllers\\ItemController::actionUpdate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Item"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/kp": {
            "get": {
                "tags": [
                    "Kp"
                ],
                "summary": "list kps",
                "description": "find kp",
                "operationId": "app\\controllers\\KpController::actionIndex",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id to find",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to find",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Kp"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/kp/create": {
            "post": {
                "tags": [
                    "Kp"
                ],
                "summary": "create  kp ",
                "description": "create new kp",
                "operationId": "app\\controllers\\KpController::actionCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Kp"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Kp"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "PHPSESSID"
                        ]
                    }
                ]
            }
        },
        "/kp/delete": {
            "delete": {
                "tags": [
                    "Kp"
                ],
                "summary": "Delete kp",
[...]
